[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "PyPi"

[dev-packages]

[packages]
ansible = "2.11"
ansible-lint = "*"
molecule-docker = "*"
molecule = "*"
yamllint = "*"
typing-extensions = "*"
importlib_resources = "*"
python_version = "3.10"
zipp = "*"
