---
name: Molecule testing
"on":
  push: {}
  pull_request: {}
  schedule:
    - cron: "12 6 * * 3"
jobs:
  molecule:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python_version: ["3.8"]
        experimental: [false]
        molecule_image:
          - agoloncser/docker-ansible-fedora32
          - agoloncser/docker-ansible-fedora33
          - agoloncser/docker-ansible-fedora34
          - agoloncser/docker-ansible-fedora35
          - agoloncser/docker-ansible-ubuntu2004
          - agoloncser/docker-ansible-ubuntu2010
          - agoloncser/docker-ansible-ubuntu2104

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pipenv wheel

      - id: cache-pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock', '**/tasks/main.yml') }}

      - name: Install dependencies
        if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: |
          pipenv install --deploy --dev

      - name: Molecule test
        run: pipenv run molecule test
        env:
          MOLECULE_IMAGE: ${{ matrix.molecule_image }}

  galaxy_upload:
    runs-on: ubuntu-latest
    needs: molecule
    steps:
      - name: Import to Galaxy
        if: ${{ github.ref == 'refs/heads/master' }}

        uses: robertdebock/galaxy-action@1.1.0
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
