---
name: Check latest python version
on:
  push: {}
  pull_request: {}
  schedule:
    - cron: "12 6 * * 1"
jobs:
  lastest_version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: repo

      - name: Checkout pyenv
        uses: actions/checkout@v2
        with:
          repository: pyenv/pyenv
          path: pyenv

      - name: Check version
        run: |
          repo_latest_ver=$(grep '^pyenv_default_version' $GITHUB_WORKSPACE/repo/defaults/main.yml | cut -d' ' -f2-)
          pyenv_latest_def=$(find $GITHUB_WORKSPACE/pyenv/plugins/python-build/share/python-build -type f -name "3.8.*" | sort -rn | head -1)
          pyenv_latest_ver=$(basename $pyenv_latest_def)
          echo $pyenv_latest_ver $repo_latest_ver
          if [ "$repo_latest_ver" != "$pyenv_latest_ver" ]; then echo "ERROR code is not using the latest available Python version provided by Pyenv."; exit 1; fi
